.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "all-countries africa"
    "americas asia"
    "europe oceania";
  height: 50vh;
}

.region {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 174, 68);
  border: 1px solid rgb(63, 63, 63);
}

.all-countries {
  grid-area: all-countries;
}

.africa {
  grid-area: africa;
}

.americas {
  grid-area: americas;
}

.asia {
  grid-area: asia;
}

.europe {
  grid-area: europe;
}

.oceania {
  grid-area: oceania;
}

.filtered-countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-area: all-countries;
  margin-top: 20px;
}

.filtered-countries > div {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
}
